*{
    margin: 0;
    padding: 0;

}

.cabecalho {
    background-color: blueviolet;
}

.navegacao {
    background-color: rgb(230, 6, 250);
}
.secao {
    background-color: darkred;
}

.rodape {
    background-color: blue;
}